* {
    box-sizing: border-box;
    font-family: "Hiragino Maru Gothic Pro", sans-serif;
}

body,
.toolbar,
main {
    display: flex;
}

.toolbar,
main {
    flex-direction: column;
}

body  {
    background-color: #A45EE5;
}

label {
    color: #FFFFFF;
    text-align: center;
}

.toolbar {
    background-color: #0000FF;
    width: 150px;
    padding: 10vw 0;
    height: 100vh;
}

main {
    width: 90vw;
    align-items: center;
    overflow: auto;
    border: 20px solid #A45EE5;
}

.canvas {
    background-color: #FFFFFF;
    border: 2px solid #000000;
    cursor: crosshair;
}

button {
    padding: 0 1vw;
    margin: 1vw;
    min-height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.black {
    background-color: #000000;
}

.eraser {
    background-image: url('eraser.png');
    background-color: #FFFFFF;
}
.red {
    background-color: #ff0000;
}

.blue {
    background-color: #0000FF;
}

.green {
    background-color: #008000;
}

.yellow {
    background-color: #ffff00;
}

.orange {
    background-color: #ffa500;
}

.changeBG {
    background-image: url('filler.png');
    background-color: #FFFFFF;
}

h1 {
    font-family: "Hiragino Maru Gothic Pro", sans-serif;
    color: #FFFFFF;
    overflow: hidden;
}

.sizeForm{
    margin: 1vw;
    text-align: center;
}

.toolTipText {
    height: 0;
    overflow: hidden;
    width: 120px;
    border-radius: 10px;
    background-color: black;
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    top: 150px;
    left: 150px;
    z-index: 1;

}

label:hover p {
    height: auto;
}

.clicked.painter {
    background-image: url('paintbrush.png');
    border: black solid 5px;
}

.clicked.eraser {
    background-image: url('eraser.png');
    border: black solid 7px;
}

.disabled {
    opacity: 0.5;
}

