* {
    box-sizing: border-box;
    font-family: "Hiragino Maru Gothic Pro", sans-serif;
}

body,
.toolbar {
    display: flex;
}

.toolbar,
main {
    flex-direction: column;
}

body  {
    background-color: #A45EE5;
}

label {
    color: #FFFFFF;
    text-align: center;
    height: 15px;
    margin: 5%;
}

.toolbar {
    background-color: #0000FF;
    width: 150px;
    padding: 15px 0;
    height: 100%;
}

main {
    text-align: center;
    width: 90vw;
    align-items: center;
    border: 20px solid #A45EE5;
}

.canvas {
    background-color: #FFFFFF;
    border: 2px solid #000000;
    cursor: crosshair;
    position: absolute;
    z-index: 1;
}

button {
    padding: 0 5px;
    height: 40px;
    background-color: #FFFFFF;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10%;
}

input {
    width: 80%;
    margin: 10%;
}

.black {
    background-color: #000000;
}

.eraser {
    background-image: url('eraser.png');
    background-color: #FFFFFF;
}

.red {
    background-color: #ff0000;
}

.blue {
    background-color: #0000FF;
}

.green {
    background-color: #008000;
}

.yellow {
    background-color: #ffff00;
}

.orange {
    background-color: #ffa500;
}

.changeBG {
    background-image: url('filler.png');
    background-color: #FFFFFF;
}

.text {
    background-image: url('text.png');
}

.print {
    background-image: url('print.png');
}

h1 {
    font-family: "Hiragino Maru Gothic Pro", sans-serif;
    color: #FFFFFF;
    overflow: hidden;
}

.canvasText {
    position: relative;
    border: 2px solid #000000;
    cursor: crosshair;
    z-index:2;
    pointer-events: none;
}

.sizeForm {
    margin: 1vw;
    text-align: center;
}

.toolTipText {
    height: 0;
    overflow: hidden;
    width: 120px;
    border-radius: 10px;
    background-color: black;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    left: 150px;
    z-index: 1;
    bottom: 20px;
}

label:hover .toolTipText {
    height: auto;
}

.text:hover .toolTipText {
    height: auto;
}

.painter:hover .toolTipText {
    height: auto;
}

.eraser:hover .toolTipText {
    height: auto;
}

.changeBG:hover .toolTipText {
    height: auto;
}

.clicked.painter {
    background-image: url('paintbrush.png');
}

.clicked{
    border: black solid 5px;
}

.disabled {
    opacity: 0.5;
}

.canvi {
    margin: 0 auto;
}

/*@media only screen and (min-height: 640px) {*/
/*    .toolbar{*/
/*        height: 100vh;*/
/*    }*/
/*}*/


